@use "@/styles/main.scss" as *;

.community {
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 28rem;
    max-width: 35rem;
    min-width: 20rem;

    @media (min-width: $breakpoint-md) {
      height: 38rem;
    }

    @media (min-width: $breakpoint-lg) {
      height: 48rem;
    }

    > div:nth-child(odd) {
      margin-top: 3rem;
    }
    > div:nth-child(1) {
      align-items: end;
    }
    > div:nth-child(3) {
      align-items: start;
    }

    > div:nth-child(even) {
      margin-top: -7rem;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      gap: $gap-sm;
      img {
        width: 80%;
      }
    }
  }
}
