@use "tailwindcss";
@use "_variables" as *;
@use "sass:map";

$colors: (
  primary: #49769f,
  secondary: #7bbde8,
  background-dark: #001d39,
  background-light: #bdd8e9,
  neutral: #6ea2b3,

  orange-light: #ffbb00,
  foreground: #fffee8,
);

// Tailwind theme definition
@theme {
  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }
}

// CSS variables in :root for direct usage
:root {
  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }
}

img {
  user-select: none;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  font-size: 60%;
  min-width: 380px;
  background-color: $primary;
  position: relative;
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;

  @media (min-width: $breakpoint-md) {
    font-size: 70%;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 80%;
  }

  @media (min-width: $breakpoint-xl) {
    font-size: 100%;
  }
}
