@use "@/styles/main.scss" as *;

.anon-wrapper {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(auto, 1fr);
  width: 100%;
  height: 100vh;
  background: url("/images/background-picture.jpg") center/cover no-repeat;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.492), rgba(0, 0, 0, 0.214)),
  //   url("/images/background-picture.jpg");
  background-position: center;
  background-size: cover;
  padding: 1rem;
  gap: $gap-sm;

  grid-template-areas:
    "header content"
    "message content"
    "message content"
    "message content"
    "message content"
    "footer content";

  @media screen and (max-width: $breakpoint-md-lg) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    grid-template-areas:
      "header"
      "message"
      "content"
      "footer";
  }

  & > div {
    position: relative;
    padding: $gap-sm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.93);
    z-index: -1;
    height: 15rem;
    @media screen and (max-width: $breakpoint-md) {
      height: 10rem;
    }
    @media screen and (min-width: $breakpoint-md-lg) {
      height: 5rem;
    }
  }
}

// .anon-wrapper > div {
//   padding: $gap-sm;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

.anon-header {
  grid-area: header;
}

.anon-message-block {
  display: flex;
  text-align: center;
  gap: $gap-sm;
  grid-area: message;

  @media screen and (min-width: $breakpoint-md-lg) {
    gap: $gap-lg;
  }
}

.anon-footer {
  grid-area: footer;
}

.content-wrapper {
  grid-area: content;
}
